<div class="main-banner">
    <owl-carousel-o [options]="customOptions" class="owl-carousel owl-banner">
        <ng-template carouselSlide class="item item-1">
            <img src="../../../assets/img/banner-01.jpg" alt="" srcset="" />
            <div class="header-text">
                <span class="category">Engagements - <em>Wedding</em></span>
                <h3>
                    Rayakan Momen Spesial Anda:<br />
                    Tunangan dan Pernikahan dalam Satu Hari Penuh Kebahagiaan!
                </h3>
            </div>
        </ng-template>
        <ng-template carouselSlide class="item item-2">
            <img src="../../../assets/img/banner-02.jpg" alt="" srcset="" />
            <div class="header-text">
                <span class="category"
                    >MICE -
                    <em
                        >Meetings, Incentives, Conferencing & Exhibition</em
                    ></span
                >
                <h3>
                    Didukung dengan tim professional kami merancang kegiatan
                    MICE yang terorganisir secara efesien
                </h3>
            </div>
        </ng-template>
        <ng-template carouselSlide class="item item-3">
            <img src="../../../assets/img/banner-03.jpg" alt="" srcset="" />
            <div class="header-text">
                <span class="category">Music <em>Concert</em></span>
                <h3>
                    Konser Musik Spektakuler<br />
                    Malam Penuh Irama dan Semangat!
                </h3>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>

<div class="featured section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-image">
                    <img src="../../../assets/img/featured.jpg" alt="" />
                    <a href="property-details.html"
                        ><img
                            src="../../../assets/img/featured-icon.png"
                            alt=""
                            style="max-width: 60px; padding: 0px"
                    /></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-heading">
                    <h6>| ABOUT US</h6>
                    <h2>Best Event Organizer</h2>
                    <p>
                        Yellow Event merupakan perusahaan yang bergerak di
                        bidang Event Organizer sejak tahun 2019 dengan tagline
                        "360 Services For Your Event Needs". Kami memiliki
                        sub-bisnis yang terdiri dari Cocoa Wedding Organizer,
                        Blue Production dan Violet Multimedia yang akan membantu
                        klien dalam memenuhi semua kebutuhan penyelenggaraan
                        acara dengan sistem terpusat.
                    </p>
                </div>
                <div ngbAccordion>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader id="headingOne">
                            <button
                                ngbAccordionButton
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne"
                            >
                                Vision
                            </button>
                        </h2>
                        <div
                            ngbAccordionCollapse
                            id="collapseOne"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample"
                        >
                            <div ngbAccordionBody>
                                Menjadi perusahaan event organizer terkemuka
                                yang dapat memberikan solusi terbaik dan kreatif
                                dalam memenuhi kebutuhan klien, serta dapat
                                memberikan pengalaman terbaik bagi setiap orang
                                yang terlibat dalam event yang kami
                                selenggarakan.
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader id="headingTwo">
                            <button
                                ngbAccordionButton
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo"
                                aria-expanded="false"
                                aria-controls="collapseTwo"
                            >
                                Mission
                            </button>
                        </h2>
                        <div
                            id="collapseTwo"
                            ngbAccordionCollapse
                            aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                <ul class="custom-list">
                                    <li>
                                        Memberikan layanan terbaik dalam
                                        penyelenggaraan acara.
                                    </li>
                                    <li>
                                        Membangun hubungan yang baik dengan
                                        klien dan mitra bisnis untuk memastikan
                                        kesuksesan penyelenggaraan acara.
                                    </li>
                                    <li>
                                        Mengembangkan inovasi dan kreativitas
                                        dalam setiap penyelenggaraan event.
                                    </li>
                                    <li>
                                        Meningkatkan kemampuan sumber daya
                                        manusia dalam rangka memenuhi kebutuhan
                                        klien dan memberikan pengalaman terbaik
                                        di setiap penyelenggaraan event.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader id="headingThree">
                            <button
                                ngbAccordionButton
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree"
                            >
                                Goals
                            </button>
                        </h2>
                        <div
                            id="collapseThree"
                            ngbAccordionCollapse
                            aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                <ul class="custom-list">
                                    <li>
                                        Menyediakan layanan yang memenuhi
                                        standar kualitas tinggi di bidang
                                        penyelenggaraan acara.
                                    </li>
                                    <li>
                                        Meningkatkan kepuasan klien dengan
                                        pencapian KPI di setiap penyelenggaraan
                                        event.
                                    </li>
                                    <li>
                                        Menjalin kemitraan yang baik dengan
                                        vendor dan mitra bisnis untuk mendukung
                                        kesuksesan dalam penyelenggaraan acara.
                                    </li>
                                    <li>
                                        Menjadi perusahaan yang berkontribusi
                                        dalam meningkatkan industri event
                                        organizer di Indonesia dengan memberikan
                                        solusi kreatif dan inovatif.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="info-table">
                    <ul>
                        <li>
                            <div class="info-item">
                                <img
                                    src="../../../assets/img/info-icon-01.png"
                                    alt=""
                                    style="max-width: 52px"
                                />
                                <div class="info-text">
                                    <h4>Professional</h4>
                                    <p>
                                        Memberikan pelayanan yang berkualitas
                                        sesuai harapan
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="info-item">
                                <img
                                    src="../../../assets/img/info-icon-02.png"
                                    alt=""
                                    style="max-width: 52px"
                                />
                                <div class="info-text">
                                    <h4>Terpercaya</h4>
                                    <p>
                                        Sejak 2019 memberikan pelayanan yang
                                        memuaskan
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="info-item">
                                <img
                                    src="../../../assets/img/info-icon-03.png"
                                    alt=""
                                    style="max-width: 52px"
                                />
                                <div class="info-text">
                                    <h4>Free Konsultasi</h4>
                                    <p>
                                        Memberikan konsultasi gratis sebagai
                                        pelayanan maksimal
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-button">
                            <a
                                href="path/to/your/file.pdf"
                                download="portfolio.pdf"
                                class="custom-button"
                                >Our Portofolio</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="video section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Video View</h6>
                    <h2>Get Closer View & Different Feeling</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="video-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="col-lg-10 offset-lg-1">
                    <div class="video-frame">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/UmrhG9F89pY?si=YpCvLAJNRtj8Uhkj&autoplay=0"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2
                                    class="timer count-title count-number"
                                    data-to="88"
                                    data-speed="1000"
                                ></h2>
                                <p class="count-text">
                                    Events<br />Finished Now
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2
                                    class="timer count-title count-number"
                                    data-to="5"
                                    data-speed="1000"
                                ></h2>
                                <p class="count-text">Years<br />Experience</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="counter">
                                <h2
                                    class="timer count-title count-number"
                                    data-to="88"
                                    data-speed="1000"
                                ></h2>
                                <p class="count-text">Our<br />Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section best-deal">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>| Best Deal</h6>
                    <h2>Find Your Best Deal Right Now!</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="nav-wrapper">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link"
                                        [ngClass]="{
                                            active: isActiveTab('appartment')
                                        }"
                                        (click)="setActiveTab('appartment')"
                                        type="button"
                                        role="tab"
                                        aria-controls="appartment"
                                        [attr.aria-selected]="
                                            isActiveTab('appartment')
                                        "
                                    >
                                        Yellow Event
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link"
                                        [ngClass]="{
                                            active: isActiveTab('villa')
                                        }"
                                        (click)="setActiveTab('villa')"
                                        type="button"
                                        role="tab"
                                        aria-controls="villa"
                                        [attr.aria-selected]="
                                            isActiveTab('villa')
                                        "
                                    >
                                        Conference
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link"
                                        [ngClass]="{
                                            active: isActiveTab('penthouse')
                                        }"
                                        (click)="setActiveTab('penthouse')"
                                        type="button"
                                        role="tab"
                                        aria-controls="penthouse"
                                        [attr.aria-selected]="
                                            isActiveTab('penthouse')
                                        "
                                    >
                                        Festival
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div
                                *ngIf="isActiveTab('appartment')"
                                class="tab-pane fade show active"
                                id="appartment"
                                role="tabpanel"
                                aria-labelledby="appartment-tab"
                            >
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img
                                            src="../../../assets/img/deal-01.jpg"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-lg-6">
                                        <h4>Extra Info About Yellow Event</h4>
                                        <p>
                                            Yellow Event adalah event organizer
                                            profesional yang berkomitmen untuk
                                            mewujudkan pernikahan impian Anda.
                                            Kami menawarkan layanan lengkap
                                            dengan pengalaman, keahlian, dan
                                            perhatian terhadap detail untuk
                                            memastikan hari bahagia Anda
                                            sempurna.
                                        </p>
                                        <br />
                                        <p>Memilih Yellow Event?</p>
                                        <ul class="custom-list">
                                            <li>
                                                Pengalaman dan Keahlian: Tim
                                                kami terdiri dari ahli yang
                                                berpengalaman dalam menangani
                                                berbagai jenis pernikahan.
                                            </li>
                                            <li>
                                                Layanan Personal: Kami
                                                menyesuaikan setiap detail
                                                sesuai dengan gaya, selera, dan
                                                anggaran Anda.
                                            </li>
                                            <li>
                                                Jaringan Vendor Terpercaya: Kami
                                                bekerja sama dengan vendor
                                                terbaik untuk layanan
                                                berkualitas.
                                            </li>
                                            <li>
                                                Perhatian terhadap Detail: Kami
                                                memastikan semua aspek
                                                pernikahan Anda ditangani dengan
                                                cermat.
                                            </li>
                                        </ul>
                                        <br />
                                        <p>Layanan Kami</p>
                                        <ul class="custom-list">
                                            <li>
                                                Konsultasi Pernikahan: Memahami
                                                visi dan harapan Anda.
                                            </li>
                                            <li>
                                                Perencanaan dan Koordinasi:
                                                Mengurus semua aspek dari
                                                pemilihan tempat hingga
                                                manajemen anggaran.
                                            </li>
                                            <li>
                                                Desain dan Dekorasi: Mewujudkan
                                                konsep pernikahan yang
                                                menakjubkan.
                                            </li>
                                            <li>
                                                Manajemen Hari H: Mengawasi
                                                jalannya acara sehingga Anda
                                                dapat menikmati momen istimewa.
                                            </li>
                                        </ul>

                                        <div class="icon-button">
                                            <a href="property-details.html"
                                                ><i class="fa fa-calendar"></i>
                                                Schedule a visit</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                *ngIf="isActiveTab('villa')"
                                class="tab-pane fade show active"
                                id="villa"
                                role="tabpanel"
                                aria-labelledby="villa-tab"
                            >
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img
                                            src="../../../assets/img/deal-02.jpg"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-lg-6">
                                        <h4>
                                            Detail Info About Meeting /
                                            Conference
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit, do
                                            eiusmod tempor pack incididunt ut
                                            labore et dolore magna aliqua quised
                                            ipsum suspendisse.
                                            <br /><br />Swag fanny pack lyft
                                            blog twee. JOMO ethical copper mug,
                                            succulents typewriter shaman DIY
                                            kitsch twee taiyaki fixie hella
                                            venmo after messenger poutine next
                                            level humblebrag swag franzen.
                                        </p>
                                        <div class="icon-button">
                                            <a href="property-details.html"
                                                ><i class="fa fa-calendar"></i>
                                                Schedule a visit</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                *ngIf="isActiveTab('penthouse')"
                                class="tab-pane fade show active"
                                id="penthouse"
                                role="tabpanel"
                                aria-labelledby="penthouse-tab"
                            >
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img
                                            src="../../../assets/img/deal-03.jpg"
                                            alt=""
                                        />
                                    </div>
                                    <div class="col-lg-6">
                                        <h4>
                                            Extra Info About Festival / Concert
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit, do
                                            eiusmod tempor pack incididunt ut
                                            labore et dolore magna aliqua quised
                                            ipsum suspendisse.
                                            <br /><br />Swag fanny pack lyft
                                            blog twee. JOMO ethical copper mug,
                                            succulents typewriter shaman DIY
                                            kitsch twee taiyaki fixie hella
                                            venmo after messenger poutine next
                                            level humblebrag swag franzen.
                                        </p>
                                        <div class="icon-button">
                                            <a href="property-details.html"
                                                ><i class="fa fa-calendar"></i>
                                                Schedule a visit</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="properties section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Our Services</h6>
                    <h2>We Provide The Best Event You Want</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a [routerLink]="['/products']"
                        ><img src="../../../assets/img/property-01.jpg" alt=""
                    /></a>
                    <span class="category">Wedding Organizer</span>
                    <div class="main-button">
                        <a [routerLink]="['/products']">Schedule an Event</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a [routerLink]="['/products']"
                        ><img src="../../../assets/img/property-02.jpg" alt=""
                    /></a>
                    <span class="category">Meeting and Conference</span>
                    <div class="main-button">
                        <a [routerLink]="['/products']">Schedule an Event</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a [routerLink]="['/products']"
                        ><img src="../../../assets/img/property-06.jpg" alt=""
                    /></a>
                    <span class="category">Music Entertainment</span>
                    <div class="main-button">
                        <a [routerLink]="['/products']">Schedule an Event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Contact Us</h6>
                    <h2>Get In Touch With Our Agents</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.973251948773!2d110.3658454!3d-7.7926566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5825fa6106c5%3A0x3ea4c521a5ed1133!2sJl.%20Malioboro%2C%20Sosromenduran%2C%20Gedong%20Tengen%2C%20Kota%20Yogyakarta%2C%20Daerah%20Istimewa%20Yogyakarta!5e0!3m2!1sid!2sid!4v1717603901700!5m2!1sid!2sid"
                        width="100%"
                        height="500px"
                        frameborder="0"
                        style="
                            border: 0;
                            border-radius: 10px;
                            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
                        "
                        allowfullscreen=""
                    ></iframe>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="item phone">
                            <img
                                src="../../../assets/img/phone-icon.png"
                                alt=""
                                style="max-width: 52px"
                            />
                            <h6>
                                +62 821-3437-0181<br /><span>Phone Number</span>
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item email">
                            <img
                                src="../../../assets/img/email-icon.png"
                                alt=""
                                style="max-width: 52px"
                            />
                            <h6>
                                {{ 'yellowEvent@gmail.com' }}<br /><span
                                    >Business Email</span
                                >
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <form
                    id="contact-form"
                    action=""
                    method="post"
                    [formGroup]="contactForm"
                    (ngSubmit)="onSubmit()"
                >
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="name">Full Name</label>
                                <input
                                    matInput
                                    type="name"
                                    name="name"
                                    id="name"
                                    placeholder="Your Name..."
                                    autocomplete="on"
                                    required
                                    formControlName="name"
                                />
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="email">Email Address</label>
                                <input
                                    matInput
                                    type="text"
                                    name="email"
                                    id="email"
                                    pattern="[^ @]*@[^ @]*"
                                    placeholder="Your E-mail..."
                                    required=""
                                    formControlName="email"
                                />
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="subject">Subject</label>
                                <input
                                    matInput
                                    type="subject"
                                    name="subject"
                                    id="subject"
                                    placeholder="Subject..."
                                    autocomplete="on"
                                    formControlName="subject"
                                />
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="message">Message</label>
                                <textarea
                                    matInput
                                    name="message"
                                    id="message"
                                    placeholder="Your Message"
                                    formControlName="message"
                                ></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button
                                    type="submit"
                                    id="form-submit"
                                    class="orange-button"
                                    [disabled]="contactForm.invalid"
                                >
                                    Send Message
                                </button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
