<mat-table [dataSource]="orders" matSort matPaginator>
    <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            >User</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{ order.userName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="productId">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            >Product</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{ order.productName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tanggalPesanan">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            >Order Date</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{
            order.tanggalPesanan | date: 'fullDate'
        }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tanggalEventMulai">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            >Event Start Date</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{
            order.tanggalEventMulai | date: 'fullDate'
        }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tanggalEventAkhir">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            >Event End Date</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{
            order.tanggalEventAkhir | date: 'fullDate'
        }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            >Status</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{ order.status }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="buktiPesanan">
        <mat-header-cell *matHeaderCellDef>Order Proof</mat-header-cell>
        <mat-cell *matCellDef="let order">
          <button mat-button (click)="openDialog(order.buktiPesanan)">View</button>
        </mat-cell>
      </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let order">
            <button
                mat-icon-button
                color="warn"
                (click)="deleteOrder(order.id)"
            >
                <mat-icon>delete</mat-icon>
            </button>
            <button
                mat-icon-button
                color="primary"
                *ngIf="isAdmin()"
                (click)="openConfirmationDialog(order.id)"
            >
                <mat-icon>check</mat-icon>
            </button>
            <button
                mat-icon-button
                color="primary"
                *ngIf="isNotPaid(order)"
                (click)="navigateToPayment(order)"
            >
                <mat-icon>attach_money</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<button mat-raised-button color="primary" [routerLink]="['/products']">
    Add Order
</button>
