<!-- <div class="container"> -->
<div
    class="container"
    [class.right-panel-active]="isRightPanelActive"
    id="container"
>
    <div class="form-container sign-up-container">
        <form [formGroup]="registerForm" (ngSubmit)="registerByAuth()">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"
                    ><i class="fab fa-google-plus-g"></i
                ></a>
                <a href="#" class="social"
                    ><i class="fab fa-linkedin-in"></i
                ></a>
            </div>
            <span>or use your email for registration</span>
            <input
                type="text"
                formControlName="displayName"
                class="form-control"
                placeholder="Name"
            />
            <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Email"
            />
            <input
                type="password"
                formControlName="password"
                class="form-control"
                placeholder="Password"
            />
            <button
                [disabled]="
                    isAuthLoading || isFacebookLoading || isGoogleLoading
                "
            >
                Sign Up
            </button>
        </form>
    </div>
    <div
        class="form-container sign-in-container"
        [class.right-panel-active]="isRightPanelActive"
    >
        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"
                    ><i class="fab fa-google-plus-g"></i
                ></a>
                <a href="#" class="social"
                    ><i class="fab fa-linkedin-in"></i
                ></a>
            </div>
            <span>or use your account</span>
            <input
                formControlName="email"
                type="email"
                class="form-control"
                placeholder="Email"
            />
            <input
                formControlName="password"
                type="password"
                class="form-control"
                placeholder="Password"
            />
            <a href="#">Forgot your password?</a>
            <button
                [disabled]="
                    isAuthLoading || isFacebookLoading || isGoogleLoading
                "
            >
                Sign In
            </button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>
                    To keep connected with us please login with your personal
                    info
                </p>
                <button class="ghost" id="signIn" (click)="onSignIn()">
                    Sign In
                </button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp" (click)="onSignUp()">
                    Sign Up
                </button>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
