<!-- src/app/components/checkout/checkout.component.html -->
<div class="checkout py-5">
    <div class="container">
        <div *ngIf="product" class="card">
            <div class="card-header text-center">
                <h1 class="card-title">Checkout Page</h1>
                <img
                    class="img-fluid header-image my-3"
                    [src]="product.imageUrl"
                    alt="{{ product.title }}"
                />
            </div>
            <div class="card-body">
                <h3 class="card-subtitle mb-2">{{ product.title }}</h3>
                <p class="text-muted">Kategori: {{ product.category }}</p>
                <p class="text-muted">
                    Harga: {{ product.price | currency: 'IDR' }}
                </p>
                <ul class="list-group mb-4">
                    <li class="list-group-item">
                        Max Tamu: {{ product.details.maxGuests }} Pax
                    </li>
                    <li class="list-group-item">
                        Durasi: {{ product.details.duration }} Jam
                    </li>
                    <li class="list-group-item">
                        Lokasi: {{ product.details.location }}
                    </li>
                    <li class="list-group-item">
                        Kelengkapan: {{ product.details.amenities.join(', ') }}
                    </li>
                    <!-- Rich Text Details -->
                    <li class="list-group-item" *ngIf="product.details.info">
                        <h4>Paket:</h4>
                        <div [innerHTML]="product.details.info"></div>
                    </li>
                </ul>
                <form
                    [formGroup]="checkoutForm"
                    (ngSubmit)="proceedToPayment()"
                >
                    <div class="mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Pilih Tanggal Event</mat-label>
                            <mat-date-range-input
                                [formGroup]="checkoutForm"
                                [rangePicker]="eventDateRangePicker"
                            >
                                <input
                                    matStartDate
                                    formControlName="tanggalEventMulai"
                                    placeholder="Start date"
                                />
                                <input
                                    matEndDate
                                    formControlName="tanggalEventAkhir"
                                    placeholder="End date"
                                />
                            </mat-date-range-input>
                            <mat-hint>DD/MM/YY – DD/MM/YY</mat-hint>
                            <mat-datepicker-toggle
                                matIconSuffix
                                [for]="eventDateRangePicker"
                            ></mat-datepicker-toggle>
                            <mat-date-range-picker
                                #eventDateRangePicker
                            ></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="text-center">
                        <button
                            type="submit"
                            class="btn btn-primary"
                            [disabled]="checkoutForm.invalid"
                        >
                            Proceed to Payment
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
