.header-image {
    max-width: 50%;
}

.checkout {
    margin: 20px 0;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button {
    display: block;
    margin-top: 20px;
}

.card-title {
    font-weight: 700;
    font-size: x-large;
}

ul,
li {
    padding-inline-start: 40px !important;
    margin-bottom: 16px !important;
    list-style: disc !important;
    // border: 0 !important;
    // outline: 0 !important;
}
